[Desktop Entry]
Name=Texts
Exec=sh -c '/tmp/.mount_Texts-7yO5t2/jack $1' sh %u
Type=Application
Comment=The ultimate messaging app
Categories=Network;Chat;
MimeType=x-scheme-handler/texts;
