[Desktop Entry]
Version=1.0
Name=Online User Guide
Comment=Online User Guide (Ice SSB)
Exec=ice-firefox http://peppermintos.com/guide/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/onlineuserguide.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
IceFirefox=peppermintos.com_guide_
